Repository rhinstaller/anaconda-webui, pull requests merged in 2025-04, with the labels that each got.

#756 tests: kill rsync process in case it's keeping a mount busy
  test/check-storage-home-reuse
  test/check-storage-mountpoints
Labels: no-test

#757 cockpit-storage-integration: code robustification
  src/actions/storage-actions.js
  src/components/storage/CockpitStorageIntegration.jsx
Labels: unrelated-test-failure

#759 storage: fix selected disk handling when replacing an MD RAID device
  src/components/storage/CockpitStorageIntegration.jsx
  test/check-storage-cockpit
  test/helpers/storage.py
Labels: release-blocker

#768 Add test for other OS (Win, MacOS) detection
  pyproject.toml
  src/components/storage/scenarios/ReinstallFedora.jsx
  test/check-storage-home-reuse
  test/helpers/storage.py
Labels: no-test, unrelated-test-failure

#712 Migrate isFinal to new ProductData API
  src/apis/runtime.js
Labels: no-test, unrelated-test-failure

#783 tests: allow combined scenarios for cross project testing
  Makefile
  test/run
  test/vm.install
Labels: no-test

#793 docs: add documentation on Anaconda Web UI testing integration with Fedora QA
  test/README-FEDORAWIKI.rst
  test/README.rst
  test/prepare-report
Labels: no-test

#802 Anaconda needs latest pykickstart but image refresh is currently blocked on kernel regression
  test/vm.install
Labels: no-test
