Repository rhinstaller/anaconda-webui, pull requests merged in 2025-03, with the labels that each got.

#686 tests: e2e: when waiting for the reboot button to appear check for possible errors
  test/helpers/progress.py
Labels: no-test

#685 tests: perform disk partitioning with the _{method_name}_partition_disk
  test/anacondalib.py
  test/check-storage-erase-all
  test/check-storage-reclaim
  test/helpers/operating_systems.py
Labels: no-test

#677 Improvements around compose testing
  Makefile
  test/anacondalib.py
  test/prepare-report
  test/run
  test/wiki-report.py
  test/wiki-testmap.json
Labels: no-test

#696 test: wiki-report: fix up for 8c64a6
  test/wiki-report.py
Labels: no-test

#698 tests: Map some non-E2E test cases to the wiki test map
  test/wiki-testmap.json
Labels: no-test

#717 test: use anaconda-[core, tui] build from f42 branch
  test/check-storage-basic
  test/check-storage-home-reuse
  test/vm.install
Labels: no-test

#719 tests: add a test for detecting invalid metadata version for RAID setup
  test/check-storage-cockpit
Labels: no-test

#738 language: fix markup to specify lang for language list entries
  src/components/localization/InstallationLanguage.jsx
  src/index.js
  test/check-language
  test/helpers/language.py
Labels: release-blocker, unrelated-test-failure

#732 Add a basic test for MBR partition table created in Cockpit Storage
  pyproject.toml
  test/check-storage-cockpit
  test/check-storage-mountpoints
Labels: no-test, release-blocker

#707 storage: cockpit-storage: prevent bootloader partitions on MDRAID devices
  src/components/storage/CockpitStorageIntegration.jsx
  test/check-storage-cockpit
Labels: release-blocker, unrelated-test-failure
