Repository rhinstaller/anaconda-webui, pull requests merged in 2025-05, with the labels that each got.

#740 Make mount point constraints depending on devices and disk selection
  src/apis/storage_devicetree.js
  src/components/storage/CockpitStorageIntegration.jsx
  src/components/storage/InstallationScenario.jsx
  src/components/storage/MountPointMapping.jsx
  src/hooks/Storage.jsx
  test/check-storage-home-reuse
  test/check-storage-mountpoints
  test/helpers/utils.py
Labels: no-test

#835 infra: trigger dependabot workflow for updating node_modules
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: .github-changes

#824 tests: Add structured docstrings to Web UI tests
  test/check-basic
  test/check-language
  test/check-progress
  test/check-review
  test/check-storage-basic
  test/check-storage-cockpit
  test/check-storage-cockpit-e2e
  test/check-storage-encryption
  test/check-storage-erase-all
  test/check-storage-erase-all-e2e
  test/check-storage-home-reuse
  test/check-storage-home-reuse-e2e
  test/check-storage-mountpoints
  test/check-storage-mountpoints-btrfs
  test/check-storage-mountpoints-lvm
  test/check-storage-mountpoints-raid
  test/check-storage-mountpoints-raid-e2e
  test/check-storage-reclaim
  test/check-storage-reclaim-e2e
  test/check-storage-use-free-space-e2e
  test/check-users
Labels: no-test

#847 infra: GITHUB_BASE is now set within ./test/common/make-bots
  Makefile
Labels: unrelated-test-failure
